{% extends 'shop/basic.html' %}

{% block title %} Checkout - My Awesome Cart{% endblock %}
{% block body %}
<div class="container">
    <div class="col my-2">
    <h2>Step 1 - My Awesome Cart checkout - Review your cart</h2>
    <div id="item">
        <ul class="list-group" id="items">
        </ul>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mt-3">
            <li class="breadcrumb-item active" aria-current="page">Total <b>Rs. <span id="totalPrice"></span></b></li>
          </ol>
        </nav>
    </div>
        </div>
    <div class="col my-2">
        <h2>Step2 - Enter Address & other Details:</h2>
        <form method="POST" action="/shop/checkout/" id="trackerform">{% csrf_token %}
          <input type="hidden" name="itemjson" id="itemjson">
  <div class="form-row">
      <div class="form-group col-md-6">
      <label for="inputname">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>

  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="address1" name="address1" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address line 2</label>
    <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="city" name="city">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
          <input type="text" class="form-control" id="state" name="state" placeholder="Enter state">

    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="zip_code" name="zip_code">
    </div>
  </div>
            <div class="form-group">
      <label for="inputph">Phone Number</label>
      <input type="tel" class="form-control" id="phone" name="phone">
    </div>
  <button type="submit" class="btn btn-primary">Place order</button>
</form>
    </div>
</div>


{% endblock %}

{% block js %}
<script>

if (localStorage.getItem('cart') == null) {
        var cart = {};
    }
    else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }
    var sum = 0;
    var totalPrice = 0;
    if ($.isEmptyObject(cart)) {
        mystr = `Your Cart is empty Add some items before checking Out!`
        $('#items').append(mystr);

    }
    for (item in cart) {
        console.log(cart);
        let name = cart[item][1];
        let qty = cart[item][0];
        let itemPrice = cart[item][2];
        sum = sum + qty;
        totalPrice = totalPrice + qty*itemPrice;      
        mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name}
                    <span class="badge badge-primary badge-pill">${qty}</span>
                </li>`
        $('#items').append(mystr);
    }
    document.getElementById('cart').innerHTML = sum;
    document.getElementById('totalPrice').innerHTML = totalPrice;
    $('#itemjson').val(JSON.stringify(cart));
    {% if thank %}
    alert("Thanks for ordering from my awesome cart your order id is {{idu}}. Track the order from our tracker page.")
    localStorage.clear();
    document.location = "/shop";
    {% endif %}
</script>
{% endblock %}