<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paytm merchant payment page</title>
</head>
<body>
    <h1>Redirecting you to the merchant</h1>
    <h1>Pleases do not refresh the page</h1>
    <form action="https://securegw-stage.paytm.in/order/process" method="post" name="paytm">
        {% for key,value in params_dict.items %}
        <input type="hidden" name="{{key}}" value="{{value}}">
        {% endfor %}
    </form>
</body>
<script>
    document.paytm.submit();
</script>
</html>